@import url('https://fonts.googleapis.com/css2?family=museo-sans:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}



html {
  font-family: 'museo-sans', sans-serif;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}


