$background-black: #121b19;
$background-green-black: #272d2b;
$background-modal: #272d2b;
$background-light: #f9f9f9;
$dark-text: #333;
$dark-green: #43786a;
$light-gray: #a5a5a5;
$light-black: #2c3753;
$white: #ffff;
$dark-white: #f5e8e8;